/*____________________
   LAYOUT
_____________________*/

.container{
   @include marginAuto;
    max-width: 1100px;

    &-small{
        @include marginAuto;
        max-width: 800px;
    }
}

.wrapped{
    min-height: 100vh;
}