/*____________________
       MIXINS
_____________________*/

@mixin marginAuto {
    margin: 0 auto;
}


// mixin rules Background image
@mixin ms-bg-image($url) {
    background-image: url($url);
    background-position: center;
}