/*____________________
    TYPOGRAPHY
_____________________*/


.isActive{
    background-color: $ms-color-secondary
}

.section-title{
    color: $ms-color-primary;
    font-size: 30px;
    letter-spacing: 1px;

}