/*____________________
     VARIABLES
_____________________*/




/* Sovrascrivi le variabili SCSS di Bootstrap */
$theme-colors: (
     "light":      #e5dad2,
     "dark":       #090305,
     "primary":    #6e27b1,
     "secondary":  #b34c44,
     "info":       #e49439,
     "success":    #1ea667,
     "warning":    #dfcd1d,
     "danger":     #ed2b0e,
);



$ms-color-primary:#002D75;
$ms-color-secondary:#dae9fe;
$ms-color-tertiary:#ecb8d4;
$ms-color-last:#fbecf1;